{{template "header.tmpl"}}
<h3>
    {{ .title }}
</h3>
<p>
    Took {{ .time }} to retrieve datas
</p>
<h5>
    User Stories Accepted
</h5>
<table>
    <thead>
        <tr>
            <th data-field="id">Taiga Id</th>
            <th data-field="name">Title</th>
            <th data-field="name">User</th>
        </tr>
    </thead>
    <tbody>
        {{ range $index, $us := .userStoriesDone }}
        <tr>
            <td><a href="{{$.taigaURL}}/project/admin-ufancyme/us/{{ $us.Ref }}" target="_blank"> {{ $us.Ref }}</a></td>
            <td>{{ $us.Subject }}</td>
            <td>{{ $us.AssignedUser }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

<h5>
    User Stories Rejected
</h5>
<table>
    <thead>
        <tr>
            <th data-field="id">Taiga Id</th>
            <th data-field="name">Title</th>
            <th data-field="name">User</th>
        </tr>
    </thead>
    <tbody>
        {{ range $index, $us := .userStoriesRejected }}
        <tr>
            <td><a href="{{$.taigaURL}}/project/admin-ufancyme/us/{{ $us.Ref }}" target="_blank"> {{ $us.Ref }}</a></td>
            <td>{{ $us.Subject }}</td>
            <td>{{ $us.AssignedUser }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>


<h5>
    Issues Accepted
</h5>

<table>
    <thead>
        <tr>
            <th data-field="id">Taiga Id</th>
            <th data-field="name">Title</th>
            <th data-field="name">User</th>
        </tr>
    </thead>
    <tbody>
        {{ range $index, $issue := .issuesDone }}
        <tr>
            <td><a href="{{$.taigaURL}}/project/admin-ufancyme/issue/{{ $issue.Ref }}" target="_blank"> {{ $issue.Ref }}</a></td>
            <td>{{ $issue.Subject }}</td>
            <td>{{ $issue.AssignedUser }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

<h5>
    Issues Rejected
</h5>
<table>
    <thead>
        <tr>
            <th data-field="id">Taiga Id</th>
            <th data-field="name">Title</th>
            <th data-field="name">User</th>
        </tr>
    </thead>
    <tbody>
        {{ range $index, $issue := .issuesRejected }}
        <tr>
            <td><a href="{{$.taigaURL}}/project/admin-ufancyme/issue/{{ $issue.Ref }}" target="_blank"> {{ $issue.Ref }}</a></td>
            <td>{{ $issue.Subject }}</td>
            <td>{{ $issue.AssignedUser }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{template "footer.tmpl"}}
