{{template "header.tmpl" .}}
        <h3>
            {{ .title }}
        </h3>
        <p>
            Took {{ .time }} to retrieve datas
        </p>
        <h3>
            User Stories
        </h3>

        <table>
            <thead>
                <tr>
                    <th data-field="id">Taiga Id</th>
                    <th data-field="name">Title</th>
                    <th data-field="price">Points</th>
                    <th data-field="price">User</th>
                </tr>
            </thead>
            <tbody>
                {{ range $index, $us := $.userStories }}
                <tr>
                    <td><a href="{{$.taigaURL}}/project/admin-ufancyme/us/{{ $us.Ref }}" target="_blank"> {{ $us.Ref }}</a></td>
                    <td>{{ $us.Subject }}</td>
                    <td>
                        <ul>
                        {{ range $roleId, $pointId := $us.Points }}
                            {{ with $pointValue := index $.pointList $pointId }}
                                {{ if ne $pointValue "?" }}
                                <li>{{ index $.roleList $roleId }} : {{ $pointValue }}</li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                        <ul>
                    </td>
                    <td {{ if eq $us.AssignedUser "Not Assigned" }} class="red-text darken-4" {{end}}>{{ if eq $us.AssignedUser "Not Assigned" }}<i class="tiny material-icons">error</i>{{end}}&nbsp;{{ $us.AssignedUser }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>

        <h3>
            Issues
        </h3>
        <table>
            <thead>
                <tr>
                    <th data-field="id">Taiga Id</th>
                    <th data-field="name">Title</th>
                    <th data-field="user">User</th>
                </tr>
            </thead>
            <tbody>
                {{ range $index, $issue := .issues }}
                <tr>
                    <td><a href="{{$.taigaURL}}/project/admin-ufancyme/issue/{{ $issue.Ref }}" target="_blank"> {{ $issue.Ref }}</a></td>
                    <td>{{ $issue.Subject }}</td>
                    <td>{{ $issue.AssignedUser }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>

{{template "footer.tmpl"}}
