{{template "header.tmpl" .}}


<h3>
    {{ .title }}
</h3>
<p>
    Took {{ .time }} to retrieve datas
</p>
<hr />
<div class="input-field">
    <form action="/" method="post">
        <select name="milestone">
          <option value="" disabled selected>Choose your option</option>
          {{ range $index, $milestone := .milestoneList }}
            <option value="{{ $milestone.Name }}">{{ $milestone.Name }}</option>
          {{ end }}
        </select>
        <label>Choose Milestone</label>
        <input type="submit" class="btn btn-primary" value="Set Milestone" />
    </form>
</div>

{{template "footer.tmpl"}}
