{{template "header.tmpl"}}

<h3>
    {{ .title }}
</h3>
<p>
    Took {{ .time }} to retrieve datas
</p>
<h3>
    User Stories
</h3>
{{ range $user, $stories := .userStoriesOvertaking }}
<h5>{{ $user }}</h5>
<table>
    <thead>
        <tr>
            <th data-field="id">Taiga Id</th>
            <th data-field="name">Title</th>
            <th data-field="price">User Story Total Points</th>
            <th data-field="price">User Story ElapsedTime</th>
        </tr>
    </thead>
    <tbody>
        {{ range $index, $us := $stories }}
        <tr class="{{ $us.Color }}">
            <td><a href="{{$.taigaURL}}/project/admin-ufancyme/us/{{ $us.Ref }}" target="_blank"> {{ $us.Ref }}</a></td>
            <td>{{ $us.Subject }}</td>
            <td>{{ $us.TotalPoint}}</td>
            <td>{{ $us.ElapsedTime}}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}

{{template "footer.tmpl"}}
