{{template "header.tmpl" .}}

<p>
    Took {{ .time }} to retrieve datas
</p>
<h3>
    User Stories
</h3>
{{ range $user, $stories := .userStories }}
{{ if eq $user "Not Assigned" }}<i class="small material-icons">error</i>{{end}}&nbsp;<h5 style="display:inline-block;" {{ if eq $user "Not Assigned" }} class="red-text darken-4" {{end}}>{{ $user }}</h5>
<table>
    <thead>
        <tr>
            <th data-field="id">Tiaga Id</th>
            <th data-field="name">Title</th>
            <th data-field="price">User Story Points</th>
        </tr>
    </thead>
    <tbody>
        {{ range $index, $us := $stories }}
        <tr>
            <td><a href="{{$.taigaURL}}/project/admin-ufancyme/us/{{ $us.Ref }}" target="_blank"> {{ $us.Ref }}</a></td>
            <td>{{ $us.Subject }}</td>
            <td>
                <ul>
                {{ range $roleId, $pointId := $us.Points }}
                    {{ with $pointValue := index $.pointList $pointId }}
                        {{ if ne $pointValue "?" }}
                        <li>{{ index $.roleList $roleId }} : {{ $pointValue }}</li>
                        {{ end }}
                    {{ end }}
                {{ end }}
                <ul>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}

<h3>
    Issues
</h3>

{{ range $user, $issueList := .issues }}
{{ if eq $user "Not Assigned" }}<i class="small material-icons">error</i>{{end}}&nbsp;<h5 style="display:inline-block;" {{ if eq $user "Not Assigned" }} class="red-text darken-4" {{end}}>{{ $user }}</h5>
<table>
    <thead>
        <tr>
            <th data-field="id">Taiga Id</th>
            <th data-field="name">Title</th>
        </tr>
    </thead>
    <tbody>
        {{ range $index, $issue := $issueList }}
        <tr>
            <td><a href="{{$.taigaURL}}/project/admin-ufancyme/issue/{{ $issue.Ref }}" target="_blank"> {{ $issue.Ref }}</a></td>
            <td>{{ $issue.Subject }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}

{{template "footer.tmpl"}}
